<div class="row">
    <div class="col-md-3 col-lg-2">
        <ul class="list-group">
            <li *ngFor="let category of categories" class="list-group-item"> <a (click)="filter(category.id)">{{ category.title }}</a></li>
            <li class="list-group-item"> <a (click)="filter(-1)">Voir tout </a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div *ngFor="let product of products" class="col-md-3">
                <div class="card">
                    <h2> {{ product.title }}</h2>
                    <p> {{ product.description }}</p>
                    <p class="price"> {{ product.price }} &euro;</p>
                    <div class="action">
                        <button class="btn btn-primary" (click)="addToCart(product.title)"> Ajouter </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
